.container{
  position: relative;
}
.container:hover .blockHover{
  display: block;
}
.container:hover .catalogTitle{
  display: none;
}
.img{
  width: 280px;
  height: 280px;
}
.catalogTitle{
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  background: #373F41;
  border-radius: 2px;
  position: absolute;
  top: 235px;
  left: 13px;
  padding: 5px 10px;
  margin: 0;
}
.blockHover{
  display: none;
  background: rgba(0,0,0,0.5);
  width: 280px;
  height: 280px;
  position: absolute;
  top: 0;
  left: 0;
}
.title{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  margin: 70px 0 20px;
}
.price{
  font-size: 32px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 20px;
}
.btn{
  background: #FFFFFF;
  border: 1px solid #373F41;
  border-radius: 4px;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #373F41;
  padding: 11px 35px;
  display: block;
  margin: 0 auto;
}