.container{
  position: relative;
}
.img{
  width: 580px;
  height: 545px;
}
.title{
  background: #373F41;
  border-radius: 2px;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  color: #FFFFFF;
  padding: 12px 15px;
  margin: 0;
}
.price{
  font-size: 32px;
  line-height: 25px;
  color: #FFFFFF;
  padding: 6px 15px;
  margin: 0;
  background: #373F41;
  max-width: 107px;
  text-align: center;
}
.textContainer{
  position: absolute;
  top: 400px;
  left: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
